<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>深圳兔</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.15tar.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>20160604</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>查询公积金余额</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Gongjijin</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>查询社保余额</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Shebao</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>查询公交卡余额</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Card</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>查询汽车摇号结果</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Yaohao</string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
